

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';x

/* --------- Navbar --------- */
.navbar {
    margin-bottom: 0px;
}

/* --------- Footer --------- */
.footer a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer a:hover {
    text-decoration: underline;
}

/* --------- Login ---------*/
.login {
    width: 50%;
}

.login h1 {
    margin-top: 75px;
}

.login .success-message, 
.login .error-message {
    margin-bottom: -$spacer * .5;
}

/* --------- Register ---------*/
.register {
    width: 50%;
    max-height: 100%;
    height: calc(100% - 100px);
}

.register h1 {
    margin-top: 80px;
}

.error {
    color: red;
}

/* --------- Register ---------*/
.upload {
    width: 50%;
}

.upload h1 {
    margin-top: 80px;
}

/* --------- Terms & FAQs ---------*/
.terms h1, .faqs h1 {
    margin-top: 80px;
}
