

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 800;
    letter-spacing: -3px;
}

h3, h5 {
    font-weight: 600;
}

.btn {
    font-weight: 600;
}

/* --------- Navbar --------- */
.navbar {
    margin-bottom: 0px;
}

.navbar .logo {
    font-family: "Urbanist", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* --------- Footer --------- */
.footer a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer a:hover {
    text-decoration: underline;
}

/* --------- Login ---------*/
.login {
    width: 55%;
}

.login h1 {
    margin-top: 75px;
}

.login .success-message, 
.login .error-message {
    margin-bottom: -$spacer * .5;
}

/* --------- Register ---------*/
.register {
    width: 55%;
    max-height: 100%;
    height: calc(100% - 100px);
}

.register h1 {
    margin-top: 80px;
}

.error {
    color: red;
}

/* --------- Homepage ---------*/
.index h1 {
    margin-top: 75px;
}

.index .description {
    margin-top: -10px;
}

/* --------- Register ---------*/
.upload {
    width: 55%;
}

.upload h1 {
    margin-top: 80px;
}

/* --------- Photo ---------*/
.photos-section {
    margin-top: -30px;
}

.photo-content {
    margin-top: 80px;
    margin-bottom: 25px;
}

/* .photo-content .photo {
    height: 200px;
} */

.photo-info .likes {
    margin-top: -5px;
    font-weight: 600;
}

.photo-info .likes .like-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.photo-info .comments-card {
    height: 250px;
}

.photo-info .comment .user-comment {
    font-weight: 600;
}

.photo-info .comment .comment-date {
    font-size: 12px;
}

/* --------- Terms & FAQs ---------*/
.terms h1, .faqs h1 {
    margin-top: 80px;
}
