<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
