<!DOCTYPE html>
<html lang="en">
    <%- include('./common/head'); %>

    <body>
        <%- include('./common/nav'); %>

        <div class="upload px-5">
            <h1>Upload a picture</h1>
        </div>
    </body>

    <%- include('./common/footer'); %>
</html>