<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a href="/" class="navbar-brand">
        Instagram Copycat
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navtab">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navtab">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="" class="nav-link">Upload</a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link">Profile</a>
            </li>
        </ul>
    </div>
</nav>